<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Khách sạn</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #313F38;
        }

        .container {
            display: flex;

        }

        .sidebar {
            width: 25%;
            padding: 20px;
            background-color: #f4f4f4;
            border-right: 1px solid #ddd;
            margin-top: 65px;
        }

        .content {
            width: 75%;
            padding: 20px;
        }

        h2 {
            margin-top: 0;
        }

        .font-color {
            color: white;
        }

        .filter-group {
            margin-bottom: 20px;
        }

        .filter-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333;
        }

        .filter-group select,
        .filter-group input[type="range"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 1em;
            background-color: #fff;
            transition: border-color 0.3s;
        }

        .filter-group select:focus,
        .filter-group input[type="range"]:focus {
            border-color: #007BFF;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }

        .hotel-list {
            display: flex;
            flex-direction: column;

        }

        .hotel {
            display: flex;
            padding: 10px;
            margin-bottom: 10px;
            border: 0px solid #ddd;
            background-color: #fff;
            transition: transform 0.3s, box-shadow 0.3s;
            background-color: #FCD043;
        }

        .hotel:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        .hotel img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            margin-right: 10px;
        }

        .hotel-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
        }

        .hotel-name {
            font-size: 28px;
            font-weight: bold;
        }

        .hotel-price {
            color: #007BFF;
            font-size: 1em;
        }

        .hotel-standard {
            text-align: center;
            background-color: #f0f0f0;
            padding: 9px;
            border-radius: 5px;
            width: 100px;
            margin: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>Bộ lọc theo khách sạn</h2>
            <form onsubmit="updateURL(event)">
                <div class="filter-group">
                    <label for="city">Thành phố</label>
                    <select id="city" name="city">
                        <option value="all">Tất cả</option>
                        <option value="hanoi">Hà Nội</option>
                        <option value="hcmc">Hồ Chí Minh</option>

                        <!-- Thêm các tùy chọn khác nếu cần -->
                    </select>
                </div>
                <div class="filter-group">
                    <label for="standard">Tiêu chuẩn</label>
                    <select id="standard" name="standard">
                        <option value="all">Tất cả</option>
                        <option value="5">5 sao</option>
                        <option value="4">4 sao</option>
                        <option value="3">3 sao</option>
                        <!-- Thêm các tùy chọn khác nếu cần -->
                    </select>
                </div>
                <div class="filter-group">
                    <label for="minPriceRange">Giá tiền tối thiểu (0$ - 10000$)</label>
                    <input type="range" id="minPriceRange" name="minPriceRange" min="0" max="10000" value="0"
                        oninput="updatePriceValues()">
                    <label for="maxPriceRange">Giá tiền tối đa (0$ - 10000$)</label>
                    <input type="range" id="maxPriceRange" name="maxPriceRange" min="0" max="10000" value="10000"
                        oninput="updatePriceValues()">
                    <div>Khoảng giá: <span id="priceValue">0$ - 10000$</span></div>
                </div>
                <button type="submit">Áp dụng</button>
            </form>
        </div>
        <div class="content">
            <h2 class="font-color">Danh sách Khách sạn</h2>
            <div class="hotel-list">
                {{#each allHotels}}
                <div class="hotel" data-id="{{this._id}}">
                    <img src="{{this.hotelImages.[0]}}" alt="Hotel Image">
                    <div class="hotel-details">
                        <div class="hotel-name">{{this.hotelName}}</div>
                        <div class="hotel-standard">{{this.hotelStandard}} sao</div>
                        <div class="hotel-price">Giá từ: {{this.hotelPrice}}$ đến {{this.hotelPrice}}$</div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Tìm tất cả các thẻ .hotel sau khi trang đã tải xong
            const hotels = document.querySelectorAll('.hotel');

            hotels.forEach(hotel => {
                hotel.addEventListener('click', function () {
                    // Lấy id của khách sạn từ thuộc tính data-id
                    const hotelId = this.getAttribute('data-id');
                    // Xây dựng URL động dựa trên môi trường hiện tại
                    const baseUrl = `${window.location.protocol}//${window.location.host}`;
                    // Chuyển hướng đến trang chi tiết khách sạn
                    window.location.href = `${baseUrl}/showroom/${hotelId}`;
                });
            });
        });


        function updatePriceValues() {
            var minPrice = document.getElementById('minPriceRange').value;
            var maxPrice = document.getElementById('maxPriceRange').value;
            document.getElementById('priceValue').innerText = minPrice + '$ - ' + maxPrice + '$';
        }

        function updateURL(event) {
            event.preventDefault();
            var city = document.getElementById('city').value;
            var standard = document.getElementById('standard').value;
            var minPrice = document.getElementById('minPriceRange').value;
            var maxPrice = document.getElementById('maxPriceRange').value;

            var queryParams = new URLSearchParams();
            queryParams.set('city', city);
            queryParams.set('standard', standard);
            queryParams.set('minPriceRange', minPrice);
            queryParams.set('maxPriceRange', maxPrice);

            window.location.search = queryParams.toString();
        }

        function setInitialValues() {
            var queryParams = new URLSearchParams(window.location.search);
            if (queryParams.has('city')) {
                document.getElementById('city').value = queryParams.get('city');
            }
            if (queryParams.has('standard')) {
                document.getElementById('standard').value = queryParams.get('standard');
            }
            if (queryParams.has('minPriceRange')) {
                document.getElementById('minPriceRange').value = queryParams.get('minPriceRange');
            }
            if (queryParams.has('maxPriceRange')) {
                document.getElementById('maxPriceRange').value = queryParams.get('maxPriceRange');
            }
            updatePriceValues();
        }

        window.onload = setInitialValues;
    </script>
</body>

</html>