<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Phòng Khách sạn</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #313F38;
        }

        .container {
            display: flex;
        }

        .sidebar {
            width: 25%;
            padding: 20px;
            background-color: #f4f4f4;
            border-right: 1px solid #ddd;
            margin-top: 65px;
        }

        .content {
            width: 75%;
            padding: 20px;
        }

        h2 {
            margin-top: 0;

        }

        .font-color {
            color: white;
        }

        .filter-group {
            margin-bottom: 20px;
        }

        .filter-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333;
        }

        .filter-group select,
        .filter-group input[type="range"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 1em;
            background-color: #fff;
            transition: border-color 0.3s;
        }

        .filter-group select:focus,
        .filter-group input[type="range"]:focus {
            border-color: #007BFF;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }

        .room-list {
            display: flex;
            flex-direction: column;
        }

        .room {
            display: flex;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            background-color: #fff;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .room-type {
            font-size: 26px;
            font-weight: 600;
        }

        .room:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        .room img {
            width: 400px;
            height: 266px;
            object-fit: cover;
            margin-right: 10px;
        }

        .room-details {
            display: flex;
            flex-direction: column;
        }

        .room-name {
            font-size: 1.2em;
            font-weight: bold;
        }

        .room-desc {
            text-align: justify;
        }

        .room-price {
            width: fit-content;
            font-size: 26px;
            color: #fff;
            background: orange;
            padding: 6px;
            border-radius: 10px;
        }

        .room-book-btn {
            display: block;
            margin-top: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>Bộ lọc Phòng</h2>
            <form onsubmit="updateURL(event)">
                <div class="filter-group">
                    <label for="roomType">Loại phòng</label>
                    <select id="roomType" name="roomType">
                        <option value="all">Tất cả</option>
                        <option value="single">Phòng đơn</option>
                        <option value="double">Phòng đôi</option>
                        <option value="suite">Phòng suite</option>
                        <!-- Thêm các tùy chọn khác nếu cần -->
                    </select>
                </div>
                <div class="filter-group">
                    <label for="minPriceRange">Giá tiền tối thiểu (0$ - 5000$)</label>
                    <input type="range" id="minPriceRange" name="minPriceRange" min="0" max="5000" value="0"
                        oninput="updatePriceValues()">
                    <label for="maxPriceRange">Giá tiền tối đa (5000$ - 10000$)</label>
                    <input type="range" id="maxPriceRange" name="maxPriceRange" min="5000" max="10000" value="5000"
                        oninput="updatePriceValues()">
                    <div>Khoảng giá: <span id="priceValue">0$ - 10000$</span></div>
                </div>
                <button type="submit">Áp dụng</button>
            </form>
        </div>
        <div class="content">
            <h2 class="font-color">Danh sách phòng của Khách sạn {{hotel.hotelName}}</h2>
            <div class="room-list">
                {{#each allRoom}}

                <div class="room" data-id="{{this._id}}">
                    <img src="{{this.roomImages.[0]}}" alt="Room Images">
                    <div class="room-details">
                        <div class="room-type">{{this.Room_Specs.type}}</div>
                        {{!-- <div class="room-name">{{this.number}}</div> --}}
                        {{!-- <div class="room-acreage">{{this.acreage}} M²</div> --}}
                        <div class="room-desc">
                            <p>{{this.description}}</p>
                            </p>
                        </div>
                        <div class="room-price">
                            <span>{{this.price}}$</span>
                        </div>
                        {{!-- <ul>
                            <li>Rộng 32m²</li>
                            <li>View thành phố</li>
                            <li>Không hút thuốc</li>
                            <li>Điều hòa không khí</li>
                            <li>Bàn làm việc</li>
                            <li>Bồn tắm</li>
                            <li>Truyền hình cáp/vệ tinh</li>
                            <li>Điện thoại</li>
                            <li>Máy sấy tóc</li>
                            <li>Đồng hồ báo thức</li>
                            <li>Truy cập Internet dial-up</li>
                            <li>Thang máy</li>
                            <li>Két an toàn trong phòng</li>
                            <li>Wifi miễn phí</li>
                            <li>Vòi sen riêng biệt</li>
                            <li>Minibar</li>
                            <li>Đồ vệ sinh cá nhân miễn phí </li>
                        </ul> --}}

                        <button type="button" class="btn btn-primary room-book-btn">Đặt phòng</button>

                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Tìm tất cả các thẻ .hotel sau khi trang đã tải xong
            const rooms = document.querySelectorAll('.room');

            rooms.forEach(room => {
                room.addEventListener('click', function () {
                    // Lấy id của khách sạn từ thuộc tính data-id
                    const roomId = this.getAttribute('data-id');
                    // Xây dựng URL động dựa trên môi trường hiện tại
                    const baseUrl = `${window.location.protocol}//${window.location.host}`;
                    // Chuyển hướng đến trang chi tiết khách sạn
                    window.location.href = `${baseUrl}/showroom/roomDetails/${roomId}`;
                });
            });
        });


        function updatePriceValues() {
            var minPrice = document.getElementById('minPriceRange').value;
            var maxPrice = document.getElementById('maxPriceRange').value;
            document.getElementById('priceValue').innerText = minPrice + '$ - ' + maxPrice + '$';
        }

        function updateURL(event) {
            event.preventDefault();
            var roomType = document.getElementById('roomType').value;
            var minPrice = document.getElementById('minPriceRange').value;
            var maxPrice = document.getElementById('maxPriceRange').value;

            var queryParams = new URLSearchParams(window.location.search);
            queryParams.set('roomType', roomType);
            queryParams.set('minPriceRange', minPrice);
            queryParams.set('maxPriceRange', maxPrice);

            window.location.search = queryParams.toString();
        }

        function setInitialValues() {
            var queryParams = new URLSearchParams(window.location.search);
            if (queryParams.has('roomType')) {
                document.getElementById('roomType').value = queryParams.get('roomType');
            }
            if (queryParams.has('minPriceRange')) {
                document.getElementById('minPriceRange').value = queryParams.get('minPriceRange');
            }
            if (queryParams.has('maxPriceRange')) {
                document.getElementById('maxPriceRange').value = queryParams.get('maxPriceRange');
            }
            updatePriceValues();
        }

        window.onload = setInitialValues;
    </script>
</body>

</html>