<div class="container">
    <h1>Sửa phòng {{room.number}} của {{hotel.hotelName}} </h1>
    <a href="/admin/rooms/viewbyHotel/{{hotel._id}}">Back to manager room of {{hotel.hotelName}} hotel</a>
    <p></p>
    <form action="/admin/rooms/viewbyHotel/{{idHotel}}/edit/{{room._id}}" method="POST" enctype="multipart/form-data">
        <div>
            <label for="number">Room Number:</label>
            <input type="number" name="number" id="number" required min="0" value="{{room.number}}">
        </div>
        <div>
            <label for="acreage">Acreage:</label>
            <input type="number" name="acreage" id="acreage" required min="0" value="{{room.acreage}}">
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" name="price" id="price" required min="0" value="{{room.price}}">
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" name="description" id="description" required value="{{room.description}}">
        </div>
        <div>
            <label for="roomImages">Room Images:</label>
            <input type="file" name="roomImages" id="roomImages" multiple>
        </div>
        <button type="submit">Update Room</button>
    </form>
</div>