<div class="container">
    <h1>Rooms for {{hotel.hotelName}}</h1>
    <p><a href="/admin/hotels">Back to Manager </a></p>
    <a href="/admin/rooms/viewbyHotel/{{hotel._id}}/addNew">Add New Room</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Acreage</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each rooms}}
            <tr>
                <td>
                    <img src="{{this.roomImages.[0]}}" alt="Hotel Image" class="hotel-image img-thumbnail" width="150px"
                        height="150px">
                </td>
                <td>{{this.number}}</td>
                <td>{{this.roomType.type}}</td>
                <td>{{this.acreage}}</td>
                <td>{{this.price}}</td>
                <td>
                    <a href="/admin/rooms/viewbyHotel/{{../hotel._id}}/edit/{{this._id}}">Edit</a>
                    <form action="/admin/rooms/viewbyHotel/{{../hotel._id}}/delete/{{this._id}}" method="POST"
                        style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>